{%extends 'soccer_league_app/base.html' %}
{% block content %}
<div name="title">
    <h2>Clubs</h2>
</div>
<div class="table-responsive" name="table">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Stadium</th>
                <th scope="col">City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><b>{{ club.name }}</b></td>
                <td>{{ club.stadium.name }}</td>
                <td>{{ club.stadium.city }}</td>
                <td>
                    <button class="btn btn-danger btn-sm" onclick="location.href='{% url "clubs_delete_view" club.id %}'">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div name="update-club">
        <button class="btn btn-primary" onclick="location.href='{% url "clubs_add_view" %}'">Add Clubs</button>
    </div>
</div>
{% endblock %}
